body{
    margin: 0; auto;
    height: 100%;
}
.info{
    width: 20%;
    height:100px;
    float: left;
    padding: 10px; 
    margin: 20px; 
    padding-top: 30px;
    padding-left: 30px;
}
.img1{
    width: 4%;
    height: 4px;
    float: right;
    padding-right: 5px;
    padding-top: 3px;
}