#newsArea{
    margin-top: 60px;
    width: 100%;
}

.newsItem{
    width: 22%;
    float: left;
    height: 300px;
    margin-left: 2%;
    border: 1px solid #ccc; /* 畫框線 */
    border-radius: 15px;  /* css3 邊框倒圓角 圓弧形*/
    margin-bottom: 1%; /* 外距離 */
}

.newsItem img{
    width: 100%;
}

.newsItem p{
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}