body{
    margin: 0; auto;
    height: 100%;
}

#wrapper{
    min-height: 100%; /* 整個區塊高度為100% */
    margin-bottom: -100px; /* 等一下 footer 的高度會是 100px */
}
#banner{
    height: 70px;
    width: 100%;
}
#menu{
    height: 50px;
    width: 100%;
    background-color: #DB7318;
    color: #ffffff;  /* 區塊內的文字為白色 */
}
#content{
    width: 100%;
    min-height: 300px;
}
#footer{
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;  /* 對齊置中 */
    clear: both; /* 清除float 效果 */

}
#footer span{
    font-size: 20px;
    

}
#menu ul{   /*此 menu ul 只對menu裡ul 做改變 其他ul則不影響*/
    margin-left: 18%;
    color: #ffffff;
    padding-top: 10px;
    font-size: 20px;


}
#menu li{
    list-style: none; /* 項目符號 不要出現 */
    float: left;
    padding-left: 2em;
    padding-right: 2em;
}
a{
    color: #ffffff;
    text-decoration: none;/* 連結不要有底線 */
    font-weight: bold; /* 粗字體 */
}

#logo{
    float: left;
    margin-left: 2em;
}
#logo img{
    width: 100%;
}

#fb{
    float: right;
    margin-right: 1em;
}
#fb img{
    width: 50%;
}
#ig{
    float: right;
    margin-right: 1em;

}
#ig img{
    width: 50%;
}