body{
    font-size: 19px;
    width: 100%;
}
/* 自訂css id 時，在樣式中要以 # 開頭 */
#banner{
    border: 5px solid red;
    width: 100%; /* 寬 % 是因為要做自適應 */
    height: 100px;
}

#menu{
    border: 5px solid green;
    width: 100%;
    height: 70px;
}

#content{
    border: 5px solid blue; /* border邊框 solid 實體 */
    width: 100%;
    min-height: 300px; /* min-height 最低高度 */
}

#footer{
    border: 5px solid #cccccc;
    width: 100%;
    height: 70px;
}
/* class 的定義 . 表示此樣式提供給多個div來使用 */
.info{
    width: 30%;
    border: 2px solid #ffff00;
    height: 200px;
    float: left; /* 設定此區塊為浮塊，會浮起來!!可靠左 left，可靠右 right */

    /*
    padding 內部距離，padding-top 上面 left 左 right 右 bottom 底
    padding: 上右下左;
    padding: 上下左右;
    :上 左右 下;
    padding: 10px 20px 30px 40px;
    padding: 20px 10px;
    padding: 同值;
    */


    padding: 20px; /* 上下左右 都20px */

    margin: 20px; /* margin 外部距離，內容上 padding */
}
